$body-bg-color: #e8e5ab;
$font-color: white;
$button-font-color: #060651;
$button-bg-color: #f9caf5;
$button-br-color:#f9b1f2;
$border-top-color: #fc32b9;
$font:  'Open Sans', sans-serif;
$font-size:16px;
$screenMobile: 480px;
$screenTablet: 768px;
$screenDesktop: 1024px;
